# .coveragerc to control coverage.py
[run]
branch = True
source = ai_unifier_assesment
omit =
    */__init__.py
    */ai_unifier_assesment/__main__.py

[paths]
source =
    src/
    */site-packages/

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
